 #wb_header {
     height: 90px;
 }
 
 #wb_header>.wb_cont_bg {
     background: rgba(255, 255, 255, 0.88) none repeat left top;
     background-size: auto auto;
 }
 
 #wb_main {
     height: 1200px;
 }
 
 #wb_main>.wb_cont_bg {
     background: transparent none repeat-x center center;
     background-size: contain;
 }
 
 #wb_footer {
     height: 29px;
 }
 
 #wb_footer>.wb_cont_bg {
     background: rgba(51, 102, 204, 0.93) none repeat-x center top;
     background-size: auto auto;
 }
 
 body {
     background: transparent url("../gallery_gen/fon_201803.jpg") no-repeat scroll center top;
     background-size: auto auto;
 }
 
 .wb_sbg {
     background: transparent url("../gallery_gen/e3aafeaf8285d9e3a84e4e59f81acb89.png") repeat-x center bottom;
 }
 
 body,
 .wb_sbg {
     min-width: 1200px;
     min-height: 1019px;
 }
 
 .wb_cont_inner {
     width: 1200px;
 }
 
 .wb_cont_bg {
     width: 1200px;
     margin-left: -600px;
 }
 
 .root {
     height: 1019px;
     overflow: visible;
     min-height: 1019px;
 }
 
 #wb_element_instance0 {
     top: 0px;
     left: 10px;
     min-width: 360px;
     width: 360px;
     min-height: 24px;
     height: 24px;
     display: block;
     z-index: 172;
 }
 
 #wb_element_instance1 {
     top: 10px;
     left: 10px;
     min-width: 128px;
     width: 128px;
     min-height: 128px;
     height: 128px;
     display: block;
     z-index: 174;
 }
 
 #wb_element_instance1 img {
     width: 128px;
     height: 128px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance2 {
     top: 20px;
     left: 140px;
     min-width: 189px;
     width: 189px;
     min-height: 52px;
     height: 52px;
     display: block;
     z-index: 176;
 }
 
 #wb_element_instance2 img {
     width: 189px;
     height: 52px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance3 {
     top: 0px;
     left: 0px;
     min-width: 1200px;
     width: 1200px;
     min-height: 750px;
     height: 750px;
     display: block;
     z-index: 12;
 }
 
 #wb_element_instance3>.wb_shp {
     background: #ffffff none repeat left top;
     background-size: auto auto;
     border: 5px solid #c0c0c0;
     opacity: 0.85;
     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     width: 1200px;
     height: 750px;
 }
 
 #wb_element_instance4 {
     top: 390px;
     left: 20px;
     min-width: 1150px;
     width: 1150px;
     min-height: 154px;
     height: 154px;
     display: block;
     z-index: 13;
 }
 
 #wb_element_instance5 {
     top: 90px;
     left: 20px;
     min-width: 1150px;
     width: 1150px;
     min-height: 250px;
     height: 250px;
     display: block;
     z-index: 14;
 }
 
 #wb_element_instance6 {
     top: 0px;
     left: 0px;
     min-width: 1200px;
     width: 1200px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 17;
 }
 
 #wb_element_instance6>.wb_shp {
     background: #88caf7 none repeat left top;
     background-size: auto auto;
     border: 0px solid #c0c0c0;
     opacity: 0.95;
     border-radius: 0px 0px 0px 0px;
     -moz-border-radius: 0px 0px 0px 0px;
     -webkit-border-radius: 0px 0px 0px 0px;
     width: 1200px;
     height: 20px;
 }
 
 #wb_element_instance7 {
     top: 60px;
     left: 20px;
     min-width: 610px;
     width: 610px;
     min-height: 24px;
     height: 24px;
     display: block;
     z-index: 18;
 }
 
 #wb_element_instance8 {
     top: 360px;
     left: 20px;
     min-width: 610px;
     width: 610px;
     min-height: 24px;
     height: 24px;
     display: block;
     z-index: 20;
 }
 
 #wb_element_instance9 {
     top: 570px;
     left: 20px;
     min-width: 610px;
     width: 610px;
     min-height: 24px;
     height: 24px;
     display: block;
     z-index: 22;
 }
 
 #wb_element_instance10 {
     top: 600px;
     left: 20px;
     min-width: 1150px;
     width: 1150px;
     min-height: 126px;
     height: 126px;
     display: block;
     z-index: 15;
 }
 
 #wb_element_instance11 {
     top: 0px;
     left: 370px;
     min-width: 50px;
     width: 50px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 23;
 }
 
 #wb_element_instance11 .wb_button {
     width: 50px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance11 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance11 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance12 {
     top: 0px;
     left: 420px;
     min-width: 50px;
     width: 50px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 25;
 }
 
 #wb_element_instance12 .wb_button {
     width: 50px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance12 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance12 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance13 {
     top: 0px;
     left: 790px;
     min-width: 90px;
     width: 90px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 26;
 }
 
 #wb_element_instance13 .wb_button {
     width: 90px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance13 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance13 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance14 {
     top: 0px;
     left: 230px;
     min-width: 150px;
     width: 150px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 28;
 }
 
 #wb_element_instance14 .wb_button {
     width: 150px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance14 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance14 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance15 {
     top: 0px;
     left: 540px;
     min-width: 120px;
     width: 120px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 30;
 }
 
 #wb_element_instance15 .wb_button {
     width: 120px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance15 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance15 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance16 {
     top: 0px;
     left: 650px;
     min-width: 40px;
     width: 40px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 27;
 }
 
 #wb_element_instance16 .wb_button {
     width: 40px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance16 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance16 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance17 {
     top: 0px;
     left: 690px;
     min-width: 50px;
     width: 50px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 29;
 }
 
 #wb_element_instance17 .wb_button {
     width: 50px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance17 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance17 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance18 {
     top: 0px;
     left: 1100px;
     min-width: 90px;
     width: 90px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 31;
 }
 
 #wb_element_instance18 .wb_button {
     width: 90px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance18 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance18 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance19 {
     top: 0px;
     left: 880px;
     min-width: 90px;
     width: 90px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 32;
 }
 
 #wb_element_instance19 .wb_button {
     width: 90px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance19 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance19 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance19_2 {
     top: 0px;
     left: 970px;
     min-width: 90px;
     width: 90px;
     min-height: 20px;
     height: 20px;
     display: block;
     z-index: 32;
 }
 
 #wb_element_instance19_2 .wb_button {
     width: 90px;
     height: 20px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance19_2 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance19_2 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance20 {
     top: 750px;
     left: 0px;
     min-width: 1200px;
     width: 1200px;
     min-height: 150px;
     height: 150px;
     display: block;
     z-index: 34;
 }
 
 #wb_element_instance20>.wb_shp {
     background: #ffffff none repeat left top;
     background-size: auto auto;
     border: 5px solid #c0c0c0;
     opacity: 0.85;
     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     width: 1200px;
     height: 150px;
 }
 
 #wb_element_instance21 {
     top: 770px;
     left: 970px;
     min-width: 64px;
     width: 64px;
     min-height: 64px;
     height: 64px;
     display: block;
     z-index: 35;
 }
 
 #wb_element_instance21 img {
     width: 64px;
     height: 64px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance22 {
     top: 840px;
     left: 960px;
     min-width: 80px;
     width: 80px;
     min-height: 40px;
     height: 40px;
     display: block;
     z-index: 36;
 }
 
 #wb_element_instance22 .wb_button {
     width: 80px;
     height: 40px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance22 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance22 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance23 {
     top: 770px;
     left: 1090px;
     min-width: 64px;
     width: 64px;
     min-height: 64px;
     height: 64px;
     display: block;
     z-index: 37;
 }
 
 #wb_element_instance23 img {
     width: 64px;
     height: 64px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance24 {
     top: 840px;
     left: 1080px;
     min-width: 80px;
     width: 80px;
     min-height: 40px;
     height: 40px;
     display: block;
     z-index: 38;
 }
 
 #wb_element_instance24 .wb_button {
     width: 80px;
     height: 40px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance24 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance24 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance25 {
     top: 770px;
     left: 40px;
     min-width: 64px;
     width: 64px;
     min-height: 64px;
     height: 64px;
     display: block;
     z-index: 39;
 }
 
 #wb_element_instance25 img {
     width: 64px;
     height: 64px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance26 {
     top: 840px;
     left: 10px;
     min-width: 120px;
     width: 120px;
     min-height: 40px;
     height: 40px;
     display: block;
     z-index: 40;
 }
 
 #wb_element_instance26 .wb_button {
     width: 120px;
     height: 40px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance26 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance26 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance27 {
     top: 770px;
     left: 170px;
     min-width: 64px;
     width: 64px;
     min-height: 64px;
     height: 64px;
     display: block;
     z-index: 41;
 }
 
 #wb_element_instance27 img {
     width: 64px;
     height: 64px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance28 {
     top: 840px;
     left: 160px;
     min-width: 80px;
     width: 80px;
     min-height: 40px;
     height: 40px;
     display: block;
     z-index: 42;
 }
 
 #wb_element_instance28 .wb_button {
     width: 80px;
     height: 40px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance28 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance28 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance29 {
     top: 770px;
     left: 300px;
     min-width: 64px;
     width: 64px;
     min-height: 64px;
     height: 64px;
     display: block;
     z-index: 43;
 }
 
 #wb_element_instance29 img {
     width: 64px;
     height: 64px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance30 {
     top: 840px;
     left: 290px;
     min-width: 80px;
     width: 80px;
     min-height: 40px;
     height: 40px;
     display: block;
     z-index: 44;
 }
 
 #wb_element_instance30 .wb_button {
     width: 80px;
     height: 40px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance30 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance30 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance31 {
     top: 780px;
     left: 440px;
     min-width: 64px;
     width: 64px;
     min-height: 64px;
     height: 64px;
     display: block;
     z-index: 45;
 }
 
 #wb_element_instance31 img {
     width: 64px;
     height: 64px;
     display: block;
     position: static;
     left: 0px;
     top: 0px;
 }
 
 #wb_element_instance32 {
     top: 840px;
     left: 430px;
     min-width: 80px;
     width: 80px;
     min-height: 40px;
     height: 40px;
     display: block;
     z-index: 46;
 }
 
 #wb_element_instance32 .wb_button {
     width: 80px;
     height: 40px;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
     border: 0px solid #cccccc;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     color: #333333;
     font-style: normal;
     font-weight: bold;
     text-decoration: underline;
     background: transparent none repeat left top;
 }
 
 #wb_element_instance32 .wb_button:hover {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance32 .wb_button:active {
     color: #333333;
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     background: #e6e6e6 none repeat left top;
 }
 
 #wb_element_instance33 {
     top: 920px;
     left: 0px;
     display: block;
     z-index: 9000;
 }
 
 #wb_element_instance34 {
     top: 44px;
     left: 0px;
     display: block;
     z-index: 9999;
 }
 
 #wb_element_instance0 p:last-child {
     margin-bottom: 0;
 }
 
 #wb_element_instance4 p:last-child {
     margin-bottom: 0;
 }
 
 #wb_element_instance5 p:last-child {
     margin-bottom: 0;
 }
 
 #wb_element_instance7 p:last-child {
     margin-bottom: 0;
 }
 
 #wb_element_instance8 p:last-child {
     margin-bottom: 0;
 }
 
 #wb_element_instance9 p:last-child {
     margin-bottom: 0;
 }
 
 #wb_element_instance10 p:last-child {
     margin-bottom: 0;
 }
 
 @media (min-width: 768px) {}
 
 @media (min-width: 992px) {}